[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = git://github.com/mishoo/UglifyJS.git
[submodule "node_modules/jslint"]
	path = node_modules/jslint
	url = git://github.com/reid/node-jslint.git
[submodule "node_modules/nopt"]
	path = node_modules/nopt
	url = http://github.com/isaacs/nopt
[submodule "node_modules/abbrev"]
	path = node_modules/abbrev
	url = http://github.com/isaacs/abbrev-js
